.checkout-summary{
  display: block;
}

.checkout-details{
   border: 1px solid black;
   padding: 20px;
   margin-bottom: 10px;
}
.checkout-details-tittle{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  color: green;
}
.details-grid{
   display: grid;
   grid-template-columns: 150px 1fr 1fr;
   column-gap: 10px;
}
.item-image{
    width: 100px;
}   

.item-details{
   display: block;
}

.item-price{
  color: rgb(192, 25, 25);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.delivery-options{
  display: block;
}
.delivery-dates{
   display: flex;
   margin-top: 10px;
}
.radio-input{
  height: 30px;
  width: 20px;
  margin-right: 10px;
  
}
.delivery-day{
  color: green;
  font-weight: 700;
}
.delivery-fee{
  opacity: 0.8;
  color: rgb(29, 27, 27);
}