.css-main{
  
  max-width: 850px;
    margin-top: 60px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.css-yourOrders{
  font-size: 30px;
  font-weight: 700;
  margin-top:30px ;
  margin-bottom: 30px;
}

.Order-summary{
  display: grid;
  grid-template-columns: 1fr;
 
}
.orderHeader-grid{
    display: flex;
    justify-content: space-between;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:20px;
    background-color: rgb(237, 237, 237);
    border: 1px solid #D5D9D9;
    align-items: center;
}
.left-section{
  display: flex;
  justify-content: space-between;
 flex-shrink: 0;
}
.order-Date{
  margin-right: 40px;
}
.text-orderPlaced{
  font-weight: 700;
  
}
.text-Total{
  font-weight: 700;
}
.right-section{
   flex-shrink:1;
}
.text-OrderId{
  font-weight: 700;
}
.item-grid{
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  column-gap: 30px;
  row-gap: 60px;
  padding: 40px 25px;
  border: 1px solid #D5D9D9;
}
.product-image{
    display: block;
}
.css-product-image{
  width:100%;
}
.product-details{
  display: block;
  margin-top: 5px;
}
.product-name{
  font-weight: 700;
  margin-bottom: 3px;
}
.product-arrivingDate{
  margin-bottom:3px;
}
.product-size{
  margin-bottom: 3px;
}
.product-quantity{
  margin-bottom: 5px;
}
.product-BuyAgain{
  background-color: rgb(255, 216, 20);
  border: none;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  font-size: 15px;
  cursor: pointer;
  width: 140px;
}

.image-BuyAgain{
  width: 25px;
  margin-left: 7px;
  margin-right: 10px;
}
.css-TrackPackage{
  border: 1px solid #D5D9D9;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}